---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date("June 02 2026")}
>
	<p>Software engineer, minimalist, sometimes YouTuber, and coffee lover.</p>

	<p>
		Started software engineering career in 2016. Worked through different
		tech domains through my career - full-stack, backend, devops, data
		analysis, LLM. Currently learning pytorch, ML, LLM fine-tuning to
		support my day-to-day work, solving NUX viewer cold start problem &
		drive user retention rate.
	</p>

	<p>
		Sharing my articles about my recent learnings on technologies, as well
		as occassionaly about life, coffee, and minimalism.
	</p>
</Layout>
